#content.minimized {
    margin-left: 1%;
}

#content {
    margin-left: 15%;
    margin-top: 60px;
    padding: 20px;
    transition: margin-left 0.3s;
}

.dotdotdot-txt-overflow {
    width: 200px;
    max-width: 200px;
    height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}
